:root {
    --globalheight: 1000px;
    --globalanimationspeed: FadeIn 0.5s;
}

@keyframes FadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.navbar {
    overflow: hidden;
    background-color: rgb(11, 13, 23);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 17px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.navbar a:hover {
    animation: var(--globalanimationspeed);
    background:rgb(108, 121, 179);
    color: black;
}

.main {
    margin-top: 30px;
    height: var(--globalheight);
}

body {
    font-family: 'Montserrat', sans-serif;
}

.settingsbody {
    background-image: url('./Pictures/MinecraftEndBK.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutbody {
    background-image: url('./Pictures/MinecraftNetherBK.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.homebody {
    background-image: url('./Pictures/MinecraftBK.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.blurredscreen {
    padding-top: 20px;
    background: rgba(13, 14, 36, 0.767);
    display: block;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    height: 100%;
    width: 85%;
    position: center, fixed;
    z-index: 0;
}

.blurredscreen h1 {
    text-align: center;
    color: white;
    font-size: 50px;
    z-index: 1;
}

.blurredscreen p {
    padding-left: 16px;
    text-align: center;
    color: white;
    font-size: 16px;
    font-style: italic;
    z-index: 1;
}

@media screen and (max-width: 600px){
    .navbar {
        width: 100%;
        height: auto;
    }
}