* {
    box-sizing: border-box;
}

li {
    padding-bottom: 6px;
    padding-top: 6px;
}

.navbar {
    overflow: hidden;
    background-color: rgb(11, 13, 23);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 17px;
    text-decoration: none;
    font-size: 18px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.navbar a:hover {
    background:rgb(108, 121, 179);
    color: black;
    
}

.main {
    margin-top: 30px;
    height: 1000px
}

body {
    font-family: Verdana, Tahoma, sans-serif;
}

.blurredscreen {
    padding: 500px;
    background: rgba(15, 17, 45, 0.683);
    filter: blur(1px);
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    width: 70%;
    text-align: center;
    display: block;
    z-index: min;
}

.blurredscreen h1 {
    text-align: left;
    color: white;
    filter: none;
    border-radius: 0px;
    font-size: 50px;
}

@media (max-width: 600px){
    .navbar {
        width: 80%;
        height: auto;
    }
}